body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "header"
        "body";

    height: 100vh;
    width: 100vw
}


#header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
        "pfp name";

    height: 100%;
    width: 100%;

    border-bottom: 2px solid black;
}


#header img {
    grid-area: pfp;
    border-radius: 50%;

    display: block;
    height: 50px;
    width: 50px;
    margin: auto auto auto auto;
}


#header h1 {
    grid-area: name;

    margin: auto auto auto 1em;
}


#body {
    grid-area: body;

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
        "leftbar posts rightbar";

    height: 100%;
    width: 100%;
}


#body ul {
    grid-area: posts;

    list-style-type: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
}
